In [10]:
import polars as pl

data_path = '../data/returnForcast.parquet'
data = pl.read_parquet(data_path).to_pandas()
print(data.head())

   permno    date  AbnormalAccruals  Accruals        AM  AssetGrowth  \
0   10001  200001           0.05836  0.108981  2.173338    -0.019392
1   10001  200002           0.05836  0.108981  2.140408    -0.019392
2   10001  200003           0.05836  0.108981  2.194754    -0.019392
3   10001  200004           0.05836  0.108981  2.169333    -0.019392
4   10001  200005           0.05836  0.108981  2.220779    -0.019392

         BM     BMdec  BookLeverage     BPEBM  ...  OperProf  OperProfRD  \
0 -0.445696  0.752592     -2.466956 -1.907572  ...       NaN         NaN
1 -0.445696  0.752592     -2.466956 -1.778563  ...       NaN         NaN
2 -0.445696  0.752592     -2.466956 -2.003696  ...       NaN         NaN
3 -0.445696  0.752592     -2.466956 -1.890749  ...       NaN         NaN
4 -0.445696  0.752592     -2.466956 -2.136744  ...       NaN         NaN

   realestate       RoE  ShareRepurchase        SP   hire  PatentsRD  FirmAge  \
0         NaN  0.117278              0.0  2.685639 -0.048        NaN   -169.0
1         NaN  0.117278              0.0  2.644947 -0.048        NaN   -170.0
2         NaN  0.117278              0.0  2.712104 -0.048        NaN   -171.0
3         NaN  0.117278              0.0  2.680690 -0.048        NaN   -172.0
4         NaN  0.117278              0.0  2.744264 -0.048        NaN   -173.0

      ret
0 -4.4118
1  1.5385
2 -1.5758
3  1.1719
4 -2.3166

[5 rows x 86 columns]

In [22]:
import pandas as pd

macro_data_path = '../data/macroFactor.csv'
zero_rate_data_path = '../data/zeroRate.csv'

macro_data = pd.read_csv(macro_data_path)
zero_rate_data = pd.read_csv(zero_rate_data_path)

print(macro_data.head())
print(zero_rate_data.head())
print(macro_data.columns)

    month     lty     tbl       d/p       d/y       e/p       d/e       b/m  \
0  192701  0.0351  0.0323  0.052740  0.051646  0.093036  0.566884  0.443706
1  192702  0.0347  0.0329  0.050816  0.053240  0.088006  0.577422  0.428501
2  192703  0.0331  0.0320  0.050969  0.051301  0.086719  0.587748  0.469765
3  192704  0.0333  0.0339  0.050579  0.051450  0.084474  0.598747  0.456754
4  192705  0.0327  0.0333  0.048511  0.051044  0.079544  0.609865  0.434783

      tms     dfy      infl      ntis      svar
0  0.0028  0.0095 -0.011299  0.050824  0.000470
1  0.0018  0.0092 -0.005714  0.051668  0.000287
2  0.0011  0.0092 -0.005747  0.046357  0.000924
3 -0.0006  0.0090  0.000000  0.050514  0.000603
4 -0.0006  0.0093  0.005780  0.055275  0.000392
    month    RF
0  192607  0.22
1  192608  0.25
2  192609  0.23
3  192610  0.32
4  192611  0.31
Index(['month', 'lty', 'tbl', 'd/p', 'd/y', 'e/p', 'd/e', 'b/m', 'tms', 'dfy',
       'infl', 'ntis', 'svar'],
      dtype='object')

In [ ]:
# 步骤A: 删除 date 为空的行，防止 NaN 导致类型强制为 float
data = data.dropna(subset=['date','ret'])
print(data.shape)

macro_data.rename(columns={'month': 'date'}, inplace=True)
zero_rate_data.rename(columns={'month': 'date'}, inplace=True)

# print(data.head())
print(macro_data.head())
print(zero_rate_data.head())

(1448851, 100)
     date     lty     tbl       d/p       d/y       e/p       d/e       b/m  \
0  192701  0.0351  0.0323  0.052740  0.051646  0.093036  0.566884  0.443706
1  192702  0.0347  0.0329  0.050816  0.053240  0.088006  0.577422  0.428501
2  192703  0.0331  0.0320  0.050969  0.051301  0.086719  0.587748  0.469765
3  192704  0.0333  0.0339  0.050579  0.051450  0.084474  0.598747  0.456754
4  192705  0.0327  0.0333  0.048511  0.051044  0.079544  0.609865  0.434783

      tms     dfy      infl      ntis      svar
0  0.0028  0.0095 -0.011299  0.050824  0.000470
1  0.0018  0.0092 -0.005714  0.051668  0.000287
2  0.0011  0.0092 -0.005747  0.046357  0.000924
3 -0.0006  0.0090  0.000000  0.050514  0.000603
4 -0.0006  0.0093  0.005780  0.055275  0.000392
     date    RF
0  192607  0.22
1  192608  0.25
2  192609  0.23
3  192610  0.32
4  192611  0.31

TypeError: 'Index' object is not callable

In [17]:
# 步骤B: 合并数据
data = data.merge(macro_data, on='date', how='left')
data = data.merge(zero_rate_data, on='date', how='left')

print(data.head())

   permno    date  AbnormalAccruals  Accruals        AM  AssetGrowth  \
0   10001  200001           0.05836  0.108981  2.173338    -0.019392
1   10001  200002           0.05836  0.108981  2.140408    -0.019392
2   10001  200003           0.05836  0.108981  2.194754    -0.019392
3   10001  200004           0.05836  0.108981  2.169333    -0.019392
4   10001  200005           0.05836  0.108981  2.220779    -0.019392

         BM     BMdec  BookLeverage     BPEBM  ...       d/y       e/p  \
0 -0.445696  0.752592     -2.466956 -1.907572  ...  0.011377  0.035208
1 -0.445696  0.752592     -2.466956 -1.778563  ...  0.012004  0.036609
2 -0.445696  0.752592     -2.466956 -2.003696  ...  0.012267  0.033999
3 -0.445696  0.752592     -2.466956 -1.890749  ...  0.011172  0.035302
4 -0.445696  0.752592     -2.466956 -2.136744  ...  0.011514  0.036320

        d/e       b/m     tms     dfy      infl      ntis      svar    RF
0  0.340458  0.154654  0.0134  0.0055  0.002971  0.025359  0.005206  0.41
1  0.334617  0.167056  0.0091  0.0061  0.005924  0.027419  0.003000  0.43
2  0.328989  0.149974  0.0049  0.0069  0.008245  0.018291  0.006678  0.47
3  0.326538  0.152600  0.0064  0.0076  0.000584  0.011945  0.007942  0.46
4  0.324117  0.155669  0.0061  0.0091  0.001168  0.009179  0.005185  0.50

[5 rows x 99 columns]

In [18]:
print(data.shape)

data['original_ret'] = data['ret']
data['ret'] = data['ret'] - data['RF']

data.to_parquet('../data/returnForcast_Macro.parquet', index=False)

(1448851, 99)

In [20]:
data[['ret','original_ret','RF']].head()

      ret  original_ret    RF
0 -4.8218       -4.4118  0.41
1  1.1085        1.5385  0.43
2 -2.0458       -1.5758  0.47
3  0.7119        1.1719  0.46
4 -2.8166       -2.3166  0.50